.container{
    background-image: url('../images/background.jpg');
    height:83vh;
    width:85vw;
}
.btn{
    margin-top:380px;
    background-color: rgb(94, 89, 89);
}
.link {
    color: #FFF;
  }
.link:hover {
    color: #FFF
 }

